<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoCash</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&display=swap">
</head>
<body>
    
    <header>
        <div class ="container">
            <nav>
                <ul>    
                    <h2><li style="color:  #dbd115;" >CRYPT0cash</li></h2>
                </ul>               
                <nav aria-label="breadcrumb">
                <ul> 
                    {% if page == "/" %}
                        <li><a href="/" class="contrast not-active" style="color: blue; text-decoration: underline;">Inicio</a></li>
                    {% else %}
                        <li><a href="/" class="contrast">Inicio</a></li>
                    {% endif %} 
                    {% if page == "/purchase" %}
                        <li><a href="/purchase" class="contrast not-active" style="color: blue; text-decoration: underline;">Compra</a></li>
                    {% else %}
                        <li><a href="/purchase" class="contrast">Compra</a></li>
                    {% endif %}
                    {% if page == "/status" %}
                        <li><a href="/status" class="contrast not-active" style="color: blue; text-decoration: underline;">Estado</a></li>
                    {% else %}
                        <li><a href="/status" class="contrast">Estado</a></li>
                    {% endif %}
                </nav> 
                </ul>
              </nav>
        </div>

    </header>
    <section class = "container">
        {% block section %}   
        {% endblock %}
    </section>
    <footer>
        <div class ="container" style="color: dimgrey">
            &copy;2023 MM - CryptoCash - Todos los derechos reservados.
        </div>
        


    </footer>
</body>
</html>