{% extends "base.html" %}

{% block section %}
<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes style="color: green;">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if registros == 0 %}
<br><br>
    <h5>" Aún no se han registrado movimientos "</h5>
    <a href="/purchase" role="button" class="secondary">Compra</a>
{% else %}
<table role="grid">
    <thead>
        <tr><br>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda-From</th>
            <th>Cantidad-From</th>
            <th>Moneda-To</th>
            <th>Cantidad-To</th>
        </tr>
    </thead>
    <tbody>
            {% for item in data %}
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.moneda_from}}</td>
                <td>{{item.cantidad_from}}</td>
                <td>{{item.moneda_to}}</td>
                <td>{{item.cantidad_to}}</td>
                <td>
            </tr> 
            {% endfor %}    
    </tbody>
</table>
{% endif %}
{% endblock %}