{% extends "base.html" %}

{% block section %}
<br>
<form action="/purchase" method="POST">
<label for="From">From</label>
<select id="coinFrom" name="coinFrom" required>
  <option value="EUR" selected>EUR</option>
  {%for item in monedas%}
  <option value="{{item}}">{{item}}</option>
  {%endfor%}
</select>

<label for="To">To</label>
<select id="coinTo" name="coinTo" required>
  {%for item in criptos%}
  <option value="{{item}}">{{item}}</option>
  {%endfor%}
</select>
  <label for="fromQ">FromQ:</label>
  <input type="number" id="fromQ" step="0.01" name="fromQ"><br>

  <label for="fromTo">FromTo:</label>
  <input type="number" id="fromTo" step="0.05" name="fromTo"><br><br>

  <button type="submit" class="secondary">Calcular</button>
</form>

{{resultado}}
{{("{:.2f}".format(pu))}} 

{% endblock %}

