{% extends "base.html" %}

{% block section %}

<br><br><u><h4>Estado de la inversion</h4></u><br><br>
<div class="container">
    <li><p>Invertido: &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(invertido))}} €</p></li>
    <li><p>Recuperado: &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(recuperado))}} €</p></li>
    <li><p>Valor de compra: &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(valorcompra))}} €</p></li>
    <li><p>Valor actual: &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(estado))}} €</p></li>
    <li><p>Balance:</p>
        {% if balance >= 0 %}
        <p style="color: green; font-size: 24px; font-weight: 600;"> &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(balance))}} €</p></li>
        {% else %}
        <p style="color: red; font-size: 24px; font-weight: 600;"> &nbsp;&nbsp;&nbsp; {{("{:.2f}".format(balance))}} €</p></li>
        {% endif %}
</div>
<br><br>
<a href="/" role="button" class="secondary">Inicio</a>
<a href="/purchase" role="button" class="secondary">Compra</a>
{% endblock %}