{% extends "base.html" %}

{% block section %}

<br><br><u><h4>Estado de la inversion</h4></u><br><br>
<div class="container">
    <li><p>Invertido: &nbsp;&nbsp;&nbsp; {{invertido}} €</p></li>
    <li><p>Recuperado: &nbsp;&nbsp;&nbsp; {{recuperado}} €</p></li>
    <li><p>Valor de compra: &nbsp;&nbsp;&nbsp; {{valorcompra}} €</p></li>
    <li><p>Valor actual: {{estado}} </p></li>
</div>
<br><br>
<a href="/" role="button" class="secondary">Inicio</a>
<a href="/purchase" role="button" class="secondary">Compra</a>
{% endblock %}